.remote-cursor {
    position: relative;
    border-left: 2px solid; 
    margin-left: -1px;
    height: 1.2em;
    display: inline-block;
    vertical-align: text-bottom;
}

.remote-cursor-label {
    position: absolute;
    top: -1.4em;
    left: -2px;
    font-size: 10px;
    padding: 1px 4px;
    color: white;
    border-radius: 3px;
    white-space: nowrap;
    pointer-events: none;
    opacity: 0.8;
    z-index: 100;
}
